* {
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    font-family: Helvetica, sans-serif;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #007bff;
    color: white;
}

.container-main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    color: black;
}

/* Profile Section */
.profile {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    align-items: center;
    color: black;
    margin-bottom: 40px;
}

.profile img {
    max-width: 100%;
    height: auto;
}

.profile h1 {
    margin-bottom: 10px;
    font-size: 2rem;
}

/* Contacts Section */
.contacts {
    color: black;
    text-align: left;
}

.contacts h2 {
    margin-top: 0;
}

.contact-item {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    margin: 10px 0;
}

.contact-item a {
    color: black;
    padding: 3px 10px;
    text-decoration: none;
    font-size: 1rem;
}

.contact-item img {
    height: 25px;
    width: 25px;
}

/* Skills Section */
.skills {
    margin-bottom: 40px;
}

.skills-bar {
    background-color: #e0e0e0;
    border-radius: 20px;
    margin: 10px 0;
}

.skill {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border-radius: 20px;
}

/* Timeline */
.timeline {
    position: relative;
    padding: 10px 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    width: 2px;
    background: #007bff;
}

.timeline-item {
    display: flex;
    padding: 20px 2%;
    position: relative;
    width: 50%;
    align-self: flex-end;
    flex-direction: column;
}

.timeline-item:nth-child(odd){
    align-self: flex-start;
}

.timeline-item::before {
    content: '';
    position: absolute;
    right: 100%;
    transform: translateX(50%);
    width: 20px;
    height: 20px;
    background: white;
    border: 4px solid #007bff;
    border-radius: 50%;
    top: 20px;
}

.timeline-item:nth-child(odd)::before{
    left:100%;
    transform: translateX(-50%);
}

.timeline-item button {
    position: relative;
    max-width: 1200px;
    background-color: #007bff;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    display: block;
    margin: 5px 0;
    padding: 20px;
    text-align: center;
    outline: none;
    font-size: 1.2rem;
    width: 100%;
}

.timeline-content {
    background: white;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid #007bff;
    display: block;
    position: relative;
    max-width: 1200px;
}

.video {
    margin-bottom: 40px;
}

.video h2 {
    color: black;
}

/* Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    .profile {
        grid-template-columns: 1fr;
    }

    .timeline::before {
        left: 20px;
    }

    .timeline-item {
        left: 20px;
        padding-left: 40px;
        align-self: flex-end;
        width: 100%;
    }

    .timeline-item button {
        font-size: 1rem;
        padding: 15px;
    }

    .timeline-item:nth-child(odd) {
        justify-content: flex-start;
        padding-left: 40px;
    }

    .timeline-item:nth-child(odd):before {
        left: 0;
        transform: translateX(-50%);
    }

    .timeline-content {
        width: 100%;
    }

    .video iframe {
        width: 100%;
        height: auto;
    }
}